/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

.default {
    background-color: $defaultGreen; //original color => #51ddfc
}

.error {
    background-color: $errorRed; //original color => #e4757a;
}

.info {
    background-color: $infoPurple; // //original color => #927bc1;
}

.success {
    background-color: $successBlue; //original color => #63cc82;
}

.warning {
    background-color: $warningColor; //original color => #fd7856
}